---
import { Image } from 'astro:assets'
import Link from '@/components/Link.astro'
import { getGlobals } from '@/lib/content'

const globals = await getGlobals()
const socials = { ...globals.socials }
const footerLinks = [
  { href: globals.TEST_RESULTS_URL, text: 'Reportes de pruebas' },
  { href: globals.DEEP_WIKI_URL, text: 'Documentación del proyecto' },
]
const year = new Date().getFullYear()
---

<footer class="w-full bg-gray-800 text-white px-4 py-3 mt-6 shadow z-50">
  <div
    class="max-w-4xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center md:justify-between gap-4"
  >
    <div class="flex gap-4 justify-center w-full md:w-auto">
      {
        Object.entries(socials).map(([key, social]) => (
          <a
            href={social.profile}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`${key} profile`}
            class="social-link flex-shrink-0 rounded-xl flex items-center justify-center transition-all duration-300"
          >
            <Image
              class="social-img object-contain transition-all duration-300"
              src={social.icon}
              alt={`${key} icon`}
              width={32}
              height={32}
            />
          </a>
        ))
      }
    </div>

    <span
      class="w-full md:w-auto text-center md:text-right text-sm text-gray-400"
    >
      &copy; {year} Franco Mariño
      <br />
      Todos los derechos reservados
    </span>
  </div>

  <div
    class="w-full md:w-auto flex flex-wrap justify-center md:justify-end gap-2 text-xs pt-2"
  >
    {
      footerLinks.map(({ href, text }) => (
        <Link
          href={href}
          className="hover:text-gray-200 transition-colors duration-200 text-gray-400"
        >
          {text}
        </Link>
      ))
    }
  </div>
</footer>

<style>
  .social-link:hover {
    transform: scale(1.1);
  }

  .social-link:hover .social-img {
    filter: brightness(1.1);
  }
</style>
