---
import InfoCard from '@/components/InfoCard'
import Section from '@/components/Section.astro'
import { jobList } from '@/data/jobs'
---

<Section sectionId="experience" title="Experiencia">
  <div class="max-w-4xl mx-auto px-4">
    <div class="relative border-l-4 border-indigo-500 pl-6 space-y-6">
      {
        jobList.map(job => (
          <div class="relative group transition-all duration-300">
            <span class="absolute -left-3 top-6 w-5 h-5 rounded-3xl bg-indigo-500 border-2 shadow-md group-hover:scale-110 transition-transform" />

            <InfoCard
              title={job.title}
              entity={job.company}
              linkEntity={job.linkCompany}
              location={job.location}
              period={job.period}
              details={job.details}
            />
          </div>
        ))
      }
    </div>
  </div>
</Section>
